@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}
body{
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Dela Gothic One",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a{
    color: var(--body);
    text-decoration: none;
    transition: all 0.4s ease;

}

a:hover {
    color : var(--brand);

}
.link-more{
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    left: 1px;
}

.link-more .icon{
    transition: all 0.4s ease;
}

.link-more:hover .icon{
    transform: translateX(8px);
}

img{
    width: 100%;
}

section {
  padding-top: 160px;
  padding-bottom: 160px
}

/*INTRO*/
.intro{
    margin-bottom: 60px;
    }

.intro h1{
    margin-top: 16px;
    margin-bottom: 16px;
}

.intro h6{
    color: var(--brand);
}

.intro p{
    max-width: 500px;
    margin: auto;
}

/*Navbar*/

.navbar{
    background: linear-gradient(to bottom, #1B1F34, rgba(27, 31, 52, 0.2))

}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
    
}

.navbar-brand {
    font-family: "Dela Gothic One",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}


/*Hero../img/cover_1.jpg  */
#hero {
    background: linear-gradient(to right, #1B1F34, rgba(27, 31, 52, 0.0)), url(https://media.istockphoto.com/id/937443868/photo/barber-giving-a-haircut-in-his-shop.jpg?s=612x612&w=0&k=20&c=wdcKDn9BnLe979S4BGQlYrKX8d4gBkRc4siYDQgPA-s=);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#hero p{
    margin-top: 24px;
    margin-bottom: 24px;

}

/*BTN*/
.btn {
    padding: 16px 36px;
    font-family: "Dela Gothic One",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease;
    border-radius: 0;
}

.btn-brand{
    background-color: var(--brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand:hover {
        
        background-color: var(--brand);
    }

/*About*/

#about{
    position: relative;
}

#about::after{
    content:"";
    width: 25%;
    height: 100%;
    background-color: var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#about h6{
    color: var(--brand)
}
#about h3{
    margin-top: 16px;
    margin-bottom: 24px;
}

 #about .signature {

    }
.name {
    font-family: "Dela Gothic One",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signature {
    font-family: "Sofia", sans-serif;
    padding-top:40px;
}

/*Social Links*/

.social-links a {
    width: 48px;
    height: 48px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg2);
}
.social-links a:hover{
   
    color: var(--brand);
}

.about_img .social-links {
    position: absolute;
    top: 14.5%;
}



 /*Services*/
 #services{
     background: var(--bg2);
 }

 #services .services .content{
     padding: 32px;
 }
 
 #services .services p {
        margin-top: 18px;
        margin-bottom: 18px;
    }

 .cta-btns{
     margin-top: 60px;
 }

#gallery .container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}

 #gallery .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}

  #gallery  .box > img {
        width: 90%;
        height: calc(100% - 10vh);
        object-fit: cover;
        transition: .5s;
    }

   #gallery .box > span {
        font-size: 3.8vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
    }

   #gallery .box:hover {
        flex: 1 1 50%;
    }

        .box:hover > img {
            width: 100%;
            height: 100%;
        }

#gallery h3{
    color: var(--brand);
}
#gallery span:hover{
    color: var(--brand);
}

/*Footer*/

footer{
    padding-top: 20px;
}
footer .social-links-footer{
    display: flex;
}

    footer .social-links-footer a {
        margin-right: 5px;
    }

.footer-top{
    padding-bottom: 30px;
}
.footer-bottom{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid var(--bg2);
}
footer .para{
   color: var(--brand); 
}
